<main >
    <div >
    <div class="header-component">
      <h1 class="header">Welcome to the website of Isaac Ojigho</h1>
    
      <ul class="nav">
        @for (link of navLinks; track link.route) {
          <li>
            <a [routerLink]="link.route" routerLinkActive="active-link">{{ link.label }}</a>
            <!-- <a [routerLink]="link.route">{{ link.label }}</a> -->
          </li>
        }
      </ul>
    </div>
      <router-outlet></router-outlet> <!-- Added router outlet -->
    </div>
</main>