<!-- <p>side-menu works!</p> -->
<button class="menu-toggle" (click)="toggleMenu()">
    ☰ Menu
  </button>
  
  <!-- Side Menu -->
  <nav class="side-menu" [class.open]="isOpen">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">About</a></li>
      <li><a routerLink="/projects" routerLinkActive="active" (click)="toggleMenu()">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a></li>
    </ul>
  </nav>
  
  <!-- Overlay (click to close) -->
   @if(isOpen){
    <div class="overlay" (click)="toggleMenu()"></div>
   }
  